{% extends "base.html" %}

{% set addDevice_active = 'active'%}
{% set title = 'Ajout device'%}

{% block content %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="bg-light p-5 rounded w-50">
            <form action="{{ url_for('main.add') }}" method="POST">
                <div class="raw-fluid text-center">
                    <img class="mb-4" src="../static/logo.svg" alt="" width="100" height="auto">
                </div>
                <h1 class="h3 mb-3 fw-normal text-center">Ajouter un device</h1>

                {% if erreur %}
                    <div class="alert alert-danger" role="alert">
                        {{ erreur }}
                    </div>
                {% endif %}

                <div class="form-floating my-2">
                    <input type="text" class="form-control" id="deviceName" placeholder="deviceName" name="deviceName">
                    <label for="deviceName">Nom du device</label>
                </div>

                <div class="form-floating my-2">
                    <input type="text" class="form-control" id="deviceIp" placeholder="deviceIp" name="deviceIp">
                    <label for="deviceIp">IP du device</label>
                </div>

                <div>
                    <h3 class="h5 mt-3 fw-normal">Type(s) de device :</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isFolderDevice" name="isFolderDevice">
                        <label class="form-check-label" for="isFolderDevice">Dossier partagé</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isAudioDevice" name="isAudioDevice">
                        <label class="form-check-label" for="isAudioDevice">Streaming audio</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="isVideoDevice" name="isVideoDevice">
                        <label class="form-check-label" for="isVideoDevice">Streaming vidéo</label>
                    </div>
                </div>

                <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Ajouter le device</button>
            </form>
        </div>
    </div>

{% endblock %}