{% extends "base.html" %}

{% set profile_active = 'active' %}
{% set title = 'Profil' %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="bg-light p-5 rounded w-50">
            <form action="{{ url_for('auth.changePass') }}" method="POST">
                <div class="raw-fluid text-center">
                    <img class="mb-4" src="../static/logo.svg" alt="" width="100" height="auto">
                </div>
                <h1 class="h1 mb-3 fw-normal text-center">Changer de mot de passe</h1>

                {% if erreur %}
                    <div class="alert alert-danger" role="alert">
                        {{ erreur }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}

                <div class="form-floating my-2">
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Mot de passe actuel"
                           required>
                    <label for="currentPassword">Mot de passe actuel</label>
                </div>

                <div class="form-floating my-2">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nouveau mot de passe"
                           required>
                    <label for="newPassword">Nouveau mot de passe</label>
                </div>

                <div class="form-floating my-2">
                    <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm"
                           placeholder="Confirmation du nouveau mot de passe" required>
                    <label for="newPasswordConfirm">Confirmation du nouveau mot de passe</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Change le mot de passe</button>

            </form>
        </div>
    </div>

{% endblock %}