{% extends "base.html" %}

{% set devicesList_active = 'active' %}
{% set title = 'Liste devices' %}

{% block content %}

    <div class="album bg-light rounded">
        <div class="container py-2">
            <h1 class="h1 mb-3 fw-normal text-center">Liste des devices</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}

                {# Boucle for format card AVEC image #}
                {% for userDevice in userDevices %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                            </svg>

                            <div class="card-body">
                                <h5 class="card-title">
                                    Nom device : {{ userDevice[1] }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Dossier : {% if  userDevice[4] %} oui {% else %} non {% endif %}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Audio : {% if  userDevice[3] %} oui {% else %} non {% endif %}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Video : {% if  userDevice[2] %} oui {% else %} non {% endif %}
                                </h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% for j in range(3) %}
                                            <button type="button" class="btn btn-sm btn-outline-primary" disabled>
                                                Btn {{ j }}</button>
                                        {% endfor %}
                                    </div>
                                    <small class="text-muted">[Status] : default</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{% endblock %}