{% extends "base.html" %}

{% set devicesList_active = 'active' %}
{% set title = 'Device' %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" charset="utf-8">
        // Code Socket Universel
        var pass = prompt("Entrez la clé secrète de votre device pour pouvoir déchiffrer les communication")
        var SECRET = CryptoJS.SHA256(pass).toString(); // SHA256
	    SECRET = SECRET.slice(0,32);
        console.log(SECRET)

        var socket = io();
        var device = '';

        socket.on('connect', function () {
            console.log('Connected to Server');
            socket.emit('Connect Client', {data: 'Client Connected'});
            socket.emit('Link Device', {{ device['id_device'] }})
        });

        socket.on('No Device', function () {
            console.log('No device Available');
            setTimeout(function () {
                socket.emit('Link Device', {{ device['id_device'] }});
            }, 2500);
        });

        socket.on('Linked', function (deviceSID) {
            device = deviceSID;
            console.log('I am linked to: ' + device);
            //Juste histoire de pouvoir tester la suite des events
        });

        function AESdecrypt(ivCipherText, key){

		console.log('Start Decr');
		var ivB64 = ivCipherText.slice(0, 24);
		var iv = atob(ivB64);
		data = ivCipherText.slice(24);
		console.log('Sliced');

		key = CryptoJS.enc.Utf8.parse(key);
		iv  = CryptoJS.enc.Utf8.parse(iv);
		console.log('Parsed');
		var cipherParams = CryptoJS.lib.CipherParams.create({
		    ciphertext: CryptoJS.enc.Base64.parse(data)
			});
		console.log('Paramed');
		var decryptedFromText = CryptoJS.AES.decrypt(cipherParams, key, { iv: iv});
		console.log('decrypted');
		return decryptedFromText.toString(CryptoJS.enc.Utf8);
	}

    function AESdecryptB64(ivCipherText, key){

		console.log('Start Decr');
		var ivB64 = ivCipherText.slice(0, 24);
		var iv = atob(ivB64);
		data = ivCipherText.slice(24);
		console.log('Sliced');

		key = CryptoJS.enc.Utf8.parse(key);
		iv  = CryptoJS.enc.Utf8.parse(iv);
		console.log('Parsed');
		var cipherParams = CryptoJS.lib.CipherParams.create({
		    ciphertext: CryptoJS.enc.Base64.parse(data)
			});
		console.log('Paramed');
		var decryptedFromText = CryptoJS.AES.decrypt(cipherParams, key, { iv: iv});
		console.log('decrypted');
		return decryptedFromText.toString(CryptoJS.enc.Base64);
	}

    </script>
    <div class="album bg-light rounded">
        <div class="container py-2 ">
            <h1 class="h1 mb-3 fw-normal text-center">Device : {{ device['name'] }}</h1>

            {% if device["camera"] %}
                <div class="album bg-light rounded">
                    <div class="container py-2">
                        <h1 class="h3 mb-3 fw-normal text-center">Camera</h1>
                        <div class="container">
                            <div class="container d-flex justify-content-center">
                                <img id="video" src="/static/webcam.svg" width="400px" height="300px"></img>
                            </div>
                            <br/>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" id="streaming" onclick="startCamera()">Activer Camera
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            {% endif %}
            {% if device["micro"] %}
                <h2>Micro</h2>
            {% endif %}
            {% if device["folder"] %}
                <div class="album bg-light rounded">
                    <div class="container py-2">
                        <h1 class="h3 mb-3 fw-normal text-center">Partage de fichier</h1>
                        <div class="container">
                            <div id="dropzone"
                                 class="file-upload-wrapper d-flex justify-content-center align-items-center border border-primary rounded"
                                 style="height: 250px">

                                <img class="" id="" src="/static/download.svg" width="200px" height="150px"></img>

                            </div>
                            <br/>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" id="upload">Upload fichier</button>
                                <button class="btn btn-primary mx-3" id="refresh" onclick="refreshFolder()">Refresh
                                    Display
                                </button>
                                <button class="btn btn-primary" id="create">Create directory</button>
                            </div>

                            <div id="filelist">
                                <br/>
                                <h4 id="pathCurrent"></h4>
                            </div>
                            <div id="dirListing">

                            </div>
                            <table class="table my-3 table-bordered" id="tablef"></table>
                        </div>
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
                <script type="text/javascript" charset="utf-8">
                    // Code Socket Shared Folder
                    const chunk_size = 64 * 1024;
                    const chunk_size_D = 64 * 1024;
                    var files = [];
                    var uploadDir = '';
                    var dirCurrent = '/'; //au debut on est dans root

                    //Upload
                    ///////////////////////////////////////////////////////////////////////////////////////////////
                    var dropzone = document.getElementById('dropzone');
                    dropzone.ondragover = function (e) {
                        e.preventDefault();
                    }
                    dropzone.ondrop = function (e) {
                        e.preventDefault();
                        if (e.dataTransfer.files.length > 1) {
                            alert('Un seul fichier à la fois')
                            return 1;
                        } else {
                            filediv = document.createElement('div');
                            filename = document.createElement('div');
                            filename.classList.add('filename');
                            filename.innerHTML = e.dataTransfer.files[0].name;
                            filediv.appendChild(filename);
                            fList = document.getElementById('filelist').appendChild(filediv);
                            files.push({
                                file: e.dataTransfer.files[0],
                                done: false
                            });
                        }
                    }

                    // read a chunk from a file
                    function readFileChunk(file, offset, length, success, error) {
                        end_offset = offset + length;
                        if (end_offset > file.size)
                            end_offset = file.size;
                        var r = new FileReader();
                        r.onload = function (file, offset, length, e) {
                            if (e.target.error != null)
                                error(file, offset, length, e.target.error);
                            else
                                success(file, offset, length, e.target.result);
                        }.bind(r, file, offset, length);
                        r.readAsArrayBuffer(file.slice(offset, end_offset));
                    }

                    // read success callback
                    function onReadSuccess(file, offset, length, data) {
                        if (this.done)
                            return;
                        if (!socket.connected) {
                            // the WebSocket connection was lost, wait until it comes back
                            setTimeout(onReadSuccess.bind(this, file, offset, length, data), 5000);
                            return;
                        }
                        socket.emit('write-chunk-client', uploadDir, this.server_filename, offset, data);
                    }

                    // read error callback
                    function onReadError(file, offset, length, error) {
                        console.log('Upload error for ' + file.name + ': ' + error);
                        //files[0].done = true;
                        fList.innerHTML = '';
                        files = [];
                    }

                    // upload button
                    var upload = document.getElementById('upload');
                    upload.onclick = function () {
                        if (files.length == 0)
                            alert('Drop some files above first!');
                        else {
                            uploadDir = dirCurrent;
                            socket.emit('start-transfer-client', uploadDir, files[0].file.name, files[0].file.size);
                        }
                    }

                    socket.on('allow-transfer', function (filename) {
                        console.log('transfer allowed for ' + filename)
                        if (filename === '..Denied..') {
                            // the server rejected the transfer
                            alert('Echec de téléversement');
                            onReadError.call(this, files[0].file, 0, 0, 'Upload rejected by server')
                        } else {
                            // the server allowed the transfer with the given filename
                            console.log(filename)
                            this.server_filename = filename;
                            readFileChunk(files[0].file, 0, chunk_size,
                                onReadSuccess.bind(this),
                                onReadError.bind(this));
                        }
                    });

                    socket.on('chunk-uploaded', function (offset, ack) {
                        if (!ack)
                            onReadError(files[0].file, offset, 0, 'Transfer aborted by server')
                        end_offset = offset + chunk_size; //length;
                        console.log(this)
                        if (end_offset < files[0].file.size)
                            readFileChunk(files[0].file, end_offset, chunk_size,
                                onReadSuccess.bind(this),
                                onReadError.bind(this));
                        else {
                            console.log('Upload done for ' + files[0].file.name);
                            socket.emit('send urlCurrent', dirCurrent, "");
                            //this.done = true;
                            fList.innerHTML = '';
                            files = [];
                        }
                    });
                    ///////////////////////////////////////////////////////////////////////////////////////////////

                    // Shared
                    ///////////////////////////////////////////////////////////////////////////////////////////////
                    // Premier affichage du contenu du dossier
                    console.log('Send listing');
                    socket.emit('send urlCurrent', dirCurrent, "begin");

                    var fileData = '';
                    //var fileMimeType = 'text/plain';
                    var fileMimeType = 'image/png';
                    var downloadFilename = '';

                    function updateListing(listing) {
                        var dirListing = document.getElementById('dirListing');
                        dirListing.innerHTML = '';

                        for (let i = 0; i < listing.length; i++) {
                            let li = document.createElement('button');
                            li.textContent = listing[i];
                            li.setAttribute("onclick", 'downloadME("' + listing[i] + '");');
                            dirListing.appendChild(li)
                        }
                    }

                    function refreshFolder() {
                        socket.emit('send urlCurrent', dirCurrent, "");
                    }

                    const b64toBlob = (decodedData, contentType = '', sliceSize = 512) => {
                        const byteCharacters = decodedData;
                        const byteArrays = [];

                        for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                            const slice = byteCharacters.slice(offset, offset + sliceSize);

                            const byteNumbers = new Array(slice.length);
                            for (let i = 0; i < slice.length; i++) {
                                byteNumbers[i] = slice.charCodeAt(i);
                            }

                            const byteArray = new Uint8Array(byteNumbers);
                            byteArrays.push(byteArray);
                        }

                        const blob = new Blob(byteArrays, {type: contentType});
                        return blob;
                    }

                    function addToDownloadListing() {
                        var blob = b64toBlob(fileData, "application/octet-stream");
                        saveAs(blob, downloadFilename);

                        fileData = '';
                        fileMimeType = '';
                        downloadFilename = '';

                    }

                    function downloadME(filename) {
                        console.log('Downloading: ' + filename);
                        downloadFilename = filename;
                        socket.emit('ask Download', dirCurrent, filename, 0);
                    }

                    socket.on('downloaded Data - to Client', function (offset, data, stop) {
                        fileData += atob(data);
                        if (stop == false) {
                            socket.emit('ask Download', dirCurrent, downloadFilename, offset + (chunk_size_D));
                        } else {
                            addToDownloadListing();
                        }
                    });

                    ///////////////////////////////////////////////////////////////////////////////////////////////
                    let thead = document.createElement('thead');
                    let tbody = document.createElement('tbody');
                    // Creating and adding data to first row of the table
                    let head = document.createElement('tr');
                    let headName = document.createElement('th');
                    headName.innerHTML = '<h5>Name</h5>';
                    let headDownload = document.createElement('th');
                    headDownload.innerHTML = "<h5>Download</h5>";
                    let headTime = document.createElement('th');
                    headTime.innerHTML = "<h5>Last Modified</h5>";
                    let headSize = document.createElement('th');
                    headSize.innerHTML = "<h5>Size</h5>";


                    head.appendChild(headName);
                    head.appendChild(headDownload);
                    head.appendChild(headTime);
                    head.appendChild(headSize);
                    thead.appendChild(head);

                    // Adding the entire table to the body tag
                    var tableEle = document.getElementById('tablef');
                    tableEle.appendChild(thead);
                    tableEle.appendChild(tbody);

                    function hrefAction(filename) {
                        if (filename.substr(filename.length - 1, 1) == '/') {//it's a dossier
                            console.log("Ouvrir le dossier" + dirCurrent + filename);
                            filename = filename.substr(0, filename.length - 1);
                            socket.emit('send urlCurrent', dirCurrent, filename);
                        } else {
                            //Affichage pas encore fait
                        }
                    }

                    socket.on('Shared Directory', function (rootUrl, dirCur, contents, ossep) {//ossep="/" pour linux et mac, "\" pour windows
                        dirCurrent = dirCur;
                        console.log('I received: ' + rootUrl + dirCurrent + contents + ossep);
                        var path = document.getElementById('pathCurrent').innerHTML = "Path: " + dirCurrent;
                        tbody.innerHTML = '';
                        if (dirCurrent != '/') {
                            let backRoot = document.createElement('tr');
                            let pathRoot = document.createElement('td');
                            let hrefRoot = document.createElement('a');
                            hrefRoot.href = "javascript:hrefAction(\"../\");";
                            hrefRoot.innerHTML = ".." + ossep;
                            pathRoot.appendChild(hrefRoot);
                            backRoot.appendChild(pathRoot);
                            backRoot.appendChild(document.createElement('td'));
                            backRoot.appendChild(document.createElement('td'));
                            backRoot.appendChild(document.createElement('td'));
                            tbody.appendChild(backRoot);
                        }
                        for (i in contents) {//文件夹内容呈现
                            let content = document.createElement('tr');
                            let name = document.createElement('td');
                            let hrefName = document.createElement('a');
                            hrefName.href = "javascript:hrefAction(\"" + contents[i].fname + "\");";
                            // hrefName.onclick="hrefAction("+contents[i].fname+");";
                            hrefName.innerHTML = contents[i].fname;
                            name.appendChild(hrefName);
                            let time = document.createElement('td');
                            time.innerHTML = contents[i].mtime;
                            let size = document.createElement('td');
                            size.innerHTML = contents[i].fsize;
                            let download = document.createElement('td');
                            let hrefDownload = document.createElement('a');
                            hrefDownload.href = "javascript:downloadME(\"" + contents[i].fname + "\");";
                            if(contents[i].fname.substr(contents[i].fname.length-1,1)=='/'){//it's a dossier
                                hrefDownload.innerHTML='';
                            }else{
                                hrefDownload.innerHTML='Télécharger';
                            }
                            download.appendChild(hrefDownload);
                            content.appendChild(name);
                            content.appendChild(download);
                            content.appendChild(time);
                            content.appendChild(size);
                            tbody.appendChild(content);
                        }
                    });

                    var createdir = document.getElementById('create');//create directory
                    createdir.onclick = function () {
                        var x = prompt("Directory name: ", "newDirectory");
                        console.log(x);

                        var containSpecial = RegExp(//验证文件夹名字中是否有可疑字符
                            /[(\ )(\~)(\!)(\@)(\#)(\$)(\%)(\^)(\&)(\*)(\()(\))(\-)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\:)(\')(\")(\,)(\.)(\/)(\<)(\>)(\?)(\)]+/
                        );
                        if (containSpecial.test(x)) {
                            alert("Allow only letters numbers and '_'")
                        } else {
                            socket.emit('create-new-directory', x, dirCurrent);
                        }
                        //客户点了create按钮之后
                    }

                    socket.on('update', function (dirCurrent) {
                        socket.emit('send urlCurrent', dirCurrent, '')
                    })

                    socket.on('alert', function (error) {
                        console.log(error);
                        alert(error);
                    })
                </script>
            {% endif %}
            <script type="text/javascript" charset="utf-8">

                ///////////////////////////////////
                //             Camera            //
                ///////////////////////////////////
                socket.on('from Device', function (data) {
                    console.log('Before Decrypt');
                    var imageData = AESdecryptB64(data, SECRET);
                    //imageData = btoa(imageData);
                    const image_element = document.getElementById('video');
                    console.log(imageData);
                    image_element.src = "data:image/jpeg;base64," + imageData;
                });

                function startCamera() {
                    socket.emit('to Device', 'Hello my dear Device');
                    var streamButton = document.getElementById('streaming');
                    streamButton.className = 'btn btn-danger'
                    streamButton.innerText = 'Stop Camera';
                    streamButton.setAttribute("onclick", 'stopCamera()');
                }

                function stopCamera() {
                    console.log('Asking to stop');
                    socket.emit('ask Stop Webcam');
                }

                socket.on('camera Stopped - Client', function () {
                    console.log('Camera stopped')
                    var streamButton = document.getElementById('streaming');
                    streamButton.className = 'btn btn-primary'
                    streamButton.innerText = 'Activer Camera';

                    streamButton.setAttribute("onclick", 'startCamera()');

                    const image_element = document.getElementById('video');
                    image_element.src = "/static/webcam.svg";
                });

                ///////////////////////////////////
                //       Temporary events        //
                ///////////////////////////////////
                socket.on('my answer', function (msg) {
                    console.log('msg received: ' + msg);
                });

                socket.on('new device available', function (id, sid) {
                    console.log('New device: ' + id + ' sid: ' + sid);
                    socket.emit('request device list', 'please');
                });

                socket.on('Device Listing', function (dict) {
                    for (var k in dict) {
                        console.log('key: ' + k + ' / value: ' + dict[k]);
                    }

                });

            </script>
        </div>
    </div>

{% endblock %}
