{% extends "base.html" %}

{% set devicesList_active = 'active'%}
{% set title = 'Liste devices'%}

{% block content %}

    <div class="album bg-light rounded">
        <div class="container py-2">
            <h1 class="h3 mb-3 fw-normal text-center">Liste des devices</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {# Boucle for format card AVEC image #}
                {% for i in range(12) %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>

                            <div class="card-body">
                                <h5 class="card-title">Titre: {{ device.title | safe | default('defaut', True) }} {{ i }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Sous-titre: {{ device.subtitle | safe | default('defaut', True) }}</h6>
                                <p class="card-text">Content : {{ device.content | safe | default('defaut', True) }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% for j in range(3) %}
                                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.location = '{{ url_for('video.test') }}'">Btn {{ j }}</button>
                                        {% endfor %}
                                    </div>
                                    <small class="text-muted">[Status : {{ device.status | safe | default('defaut', True) }}]</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# Boucle for format card SANS image #}
                {% for i in range(12) %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Titre: {{ device.title | safe | default('defaut', True) }} {{ i }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Sous-titre: {{ device.subtitle | safe | default('defaut', True) }}</h6>
                                <p class="card-text">Content : {{ device.content | safe | default('defaut', True) }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% for j in range(5) %}
                                            <button type="button" class="btn btn-sm btn-outline-primary" disabled>Btn {{ j }}</button>
                                        {% endfor %}
                                    </div>
                                    <small class="text-muted">[Status : {{ device.status | safe | default('defaut', True) }}]</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}



            </div>
            {# Boucle for format tableau #}
            <table class="table my-3 table-bordered">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Sous-titre</th>
                    <th scope="col">Content</th>
                    <th scope="col">Btn</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for i in range(11) %}

                    <tr>
                        <td>{{ device.title | safe | default('defaut', True) }} {{ i }}</td>
                        <td>{{ device.subtitle | safe | default('defaut', True) }}</td>
                        <td>{{ device.content | safe | default('defaut', True) }}</td>
                        <td style="width: 260px">
                            <div class="btn-group">
                                {% for j in range(5) %}
                                    <button type="button" class="btn btn-sm btn-outline-primary" disabled>Btn {{ j }}</button>
                                {% endfor %}
                            </div>
                        </td>
                        <td style="width: 150px">
                            <small class="text-muted">{{ device.status | safe | default('[defaut]', True) }}</small>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}