{% extends "base.html" %}

{% set devicesList_active = 'active' %}
{% set title = 'Liste devices' %}

{% block content %}

    <div class="album bg-light rounded">
        <div class="container py-2">
            <h1 class="h1 mb-3 fw-normal text-center">Liste des devices</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}

                {# Boucle for format card AVEC image #}
                {% for userDevice in userDevices %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                            </svg>

                            <div class="card-body">
                                <h5 class="card-title">
                                    Nom device : {{ userDevice["name"] }}</h5>
                            <hr>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Dossier : {% if  userDevice["folder"] %} <span style="color:blue"> oui </span>{% else %} non {% endif %}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Audio : {% if  userDevice["micro"] %} <span style="color:blue"> oui </span> {% else %} non {% endif %}
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Video : {% if  userDevice["camera"] %} <span style="color:blue"> oui </span> {% else %} non {% endif %}
                                </h6>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row py-2 pr-2 flex-grow-1 gap-2">
                                        <form class="" action="{{ url_for('main.device') }}" method="post">
                                            <div class="btn-group">
                                                <button type="submit" style="width: 81.97px" class="btn btn-sm btn-outline-success btn-block"
                                                        name="device" value="{{ userDevice["id_device"] }}"
                                                {% if userDevice["active"]%}{% else %}disabled{% endif %}>
                                                    Acces
                                                </button>
                                            </div>
                                        </form>

                                        <form action="{{ url_for('main.history') }}" method="post">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm btn-outline-primary btn-block" name="search"
                                                        value="{{ userDevice["name"] }}">Historique
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="p-2  align-self-end">
                                        <small class="text-muted">[ Status :
                                            {% if userDevice["active"] %}
                                                <span style="color:green"> En Ligne </span>
                                            {% else %}
                                                <span style="color:red"> Hors ligne </span>
                                            {% endif %}]
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{% endblock %}