{% extends "base.html" %}

{% set title = 'Erreur 404'%}

{% block content %}

    <div class="album">
        <div class="container py-2">
            <h1 class="h1 mb-3 fw-normal text-center" style="font-style: oblique">Erreur 404</h1>
            <h3 class="h3 mb-3 fw-normal text-center">La page que vous demandez n'existe pas</h3>
            <div class="text-center">
                <img class="rounded mx-auto d-block" src="../static/404.gif"/>
            </div>
        </div>
    </div>

{% endblock %}