{% extends "base.html" %}

{% set index_active = 'active'%}
{% set title = 'Index'%}

{% block content %}

    <div class="album bg-light rounded">
        <div class="container py-2">
            <h1 class="h3 mb-3 fw-normal text-center">Websocket Time !</h1>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
                <script type="text/javascript" charset="utf-8">
                    var socket = io();
                    socket.on('connect', function() {
                        socket.emit('my event', {data: 'I\'m connected!'});
                    });
                </script>
            <div>
                {{ readmeContent | safe }}
            </div>
        </div>
    </div>

{% endblock %}